.with-sidebar {
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-rows: 1fr;

    /* make each section scroll individually */
    height: 100vh;

    &>* {
        overflow-y: scroll;
    }

    &>.sidebar {
        box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.03), 0px 22px 18px rgba(0, 0, 0, 0.042), 0px 100px 80px rgba(0, 0, 0, 0.07);
        border: 1px solid var(--surface-bg-color);
        padding-inline: 0.5rem;
    }

    &>.not-sidebar {
        padding-inline: 1rem;
    }
}