@use "../tokens" as *;

.audio-player {
    background: var(--notebook-surface-bg-color);
    padding: $space-s;
    padding-inline: $space-m;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-s;
    border-radius: $radius-m;
    border: 1px solid $gray-200;
}

.audio-player__title {
    font-size: $step-1;
}

.audio-player__buttons {
    display: grid;
    grid-template-columns: 3rem 3.5rem 3rem;
    grid-template-rows: 3rem;
    align-items: center;
    gap: $space-m;
}

.audio-player__progress-time {
    display: flex;
    align-items: center;
    gap: $space-2xs;
    font-size: $step--2;
}

.audio-player__progress-slider {
    flex: 1;
    height: $space-2xs;
    background: $gray-200;
    overflow: hidden;
}

.audio-player__progress {
    width: 100%;
}

.audio-player__progress-bar {
    width: var(--progress, 0);
    height: 100%;
    background: var(--color-primary);
}

.audio-player__playpause-button {
    color: var(--notebook-surface-bg-color);
}