@use "../tokens" as *;

.card {
    padding-inline: 1.5rem;
    padding-block: 1.5rem 1rem;
    border: 1px solid var(--color-text-light2);
    border-radius: $radius-m;
    background: var(--color-light);
    box-shadow: $box-shadow-1;
    font-size: var(--step--1);
    display: grid;
    grid-template-rows: auto auto 3rem;
    row-gap: 1em;
    align-items: center;
    justify-content: stretch;
    text-align: left;
    box-shadow: $box-shadow-1;
    min-width: 100%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background, box-shadow, border-color, transform;
}

.card:hover {
    background: var(--color-light);
    filter: brightness(103%);
    box-shadow: $box-shadow-4;
    border-color: var(--color-text);
    transform: translateY(-1px);
}

.card__left {
    font-size: var(--step-3);
    line-height: $leading-flat;
    font-weight: $font-bold;
    color: var(--color-text);
}

.card__center {
    line-height: $leading-semiloose;
    color: var(--color-text-light2);
    font-weight: $font-light;
    padding-left: 0;
}

.card__center> :first-child {
    margin-block-start: 0;
}

.card__right {
    color: var(--color-text);
    background: var(--bg-color-alt);
    justify-self: flex-end;
    border-radius: $radius-round;
    padding: 0.5rem;

    // Define in terms of height so the grid can control the
    // size more effectively.
    height: 100%;
    max-height: 3rem;
    aspect-ratio: 1;
}

a.start-notebook-card {
    text-decoration: none;
}