@use '../tokens' as *;

.recall-cards {
    --recall-cards-height: 580px;
    --recall-card-row-height: 196px;
    --recall-card-max-width: 340px;

    position: relative;
    height: var(--recall-cards-height);
}

.recall-card {
    margin-inline: auto;
    border: 1px solid var(--notebook-border-color);
    border-radius: 0.5rem;
    position: relative;
    box-shadow: $box-shadow-1;
    background: var(--notebook-surface-bg-color);
    max-width: var(--recall-card-max-width);
    display: grid;
    grid-template-rows: var(--recall-card-row-height) var(--recall-card-row-height);
    font-size: var(--step-1);

    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 100;

    transition:
        transform 0.3s linear,
        opacity 0.2s linear;
}

.recall-card[data-current='false'] {
    --this-translate-y-offset: calc(max(var(--translate-y-offset, 0px), 0px));
    transform: scale(var(--scale, 1), var(--scale, 1)) translateY(var(--this-translate-y-offset));
    opacity: 1;
    z-index: var(--z-index, 0);
    opacity: 0.5;
    pointer-events: none;
}

.recall-card[data-hide='true'] {
    opacity: 0;
    pointer-events: none;
}

.recall-card__prompt {
    padding: 1em;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.recall-card__prompt p:first-child {
    margin-block-start: 0;
}

.recall-card__answer-area {
    padding: 0;
    background: var(--color-primary-lighter);
    display: block;
    font-size: var(--step-1);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.recall-card__answer-area[data-revealed='true'] {
    padding: 1em;
}

.recall-card__answer-area button {
    width: 100%;
    height: 100%;
    display: block;
    background: inherit;
    font-size: var(--step--2);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.recall-card__buttons {
    margin-block-start: 1rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: var(--recall-card-max-width);
    gap: 0.5rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.recall-card__buttons button {
    font-size: var(--step--1);
    display: inline-flex;
    justify-content: space-between;
}

.recall-card__buttons button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.recall-card__answer-area__content {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.recall-card__answer-area[data-revealed='true'] .recall-card__answer-area__content {
    opacity: 1;
}