@use "../tokens" as *;

.surface {
    --surface-padding-inline: clamp(1rem, 5vw, 2rem);
    --surface-padding-block: 0.5rem;
    --surface-border-radius: 0.5rem;

    /* Don't set margin-inline-start, as the space is created by the dashboard by the sidebar padding */
    margin-inline-end: var(--space-2xs);
    margin-block-start: var(--space-2xs);
    margin-block-end: var(--space-2xs);
    padding-inline: var(--surface-padding-inline);
    padding-block-end: var(--space-xl);

    background-color: var(--notebook-bg-color);
    border-radius: var(--surface-border-radius);
    border: 1px solid var(--notebook-border-color);
    min-height: 100vh;
    max-width: 50rem;
    margin-inline-end: auto;
    margin-inline-start: auto;
    box-shadow: $box-shadow-5;
}

.surface:not(:has(.title-bar)) {
    /* If there's not titlebar, then bump down */
    padding-block-start: var(--space-l);
}

.surface .title-bar {
    position: sticky;
    top: 0;
    margin-inline: calc(-1 * var(--surface-padding-inline));
    padding-inline: 0.5rem;
    padding-block: 0.75em;

    background-color: var(--notebook-bg-color);
    border-radius: var(--surface-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--notebook-border-color);

    z-index: 900;
}

.surface .title-bar__title {
    font-size: var(--step-0);
    font-weight: var(--font-semibold);
    min-height: 1lh;
}